################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs

/src/MpcNET/bin
/src/MpcNET/obj

/src/MpcNET.Test/bin
/src/MpcNET.Test/obj


/src/MpcNET.sln.DotSettings.user
/src/MpcNET.Test/MpcNET.Test.csproj.DotSettings
