################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs

/src/MpcNET/bin
/src/MpcNET/obj

/src/MpcNET.Test/bin
/src/MpcNET.Test/obj


/src/MpcNET.sln.DotSettings.user
/src/MpcNET.Test/MpcNET.Test.csproj.DotSettings
/src/MpcNET/MpcNET.csproj.DotSettings
/.vs
*.user
/Sources/.vs/MpcNET/v15
/Sources/MpcNET/bin/Debug/netstandard2.0
/Sources/MpcNET/obj
/Sources/MpcNET.Test/obj
/Sources/MpcNET/bin
/Sources/MpcNET.Test/bin/Debug/netcoreapp2.0
/Sources/.vs
/Sources/FluentMPC.Core/bin/Debug/netstandard2.0
/Sources/FluentMPC/bin/x86/Debug
/Sources/FluentMPC/obj
/Sources/FluentMPC.Core/obj
/Sources/FluentMPC.Tests.MSTest/obj
*.pfx
/Sources/FluentMPC/bin/x64/Debug
