################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs

/src/LibMpc/bin
/src/LibMpc/obj
/src/LibMpc/LibMpc.xproj.user
/src/LibMpc/project.lock.json

/src/LibMpcApp/bin
/src/LibMpcApp/obj
/src/LibMpcApp/LibMpcApp.xproj.user
/src/LibMpcApp/project.lock.json

/src/LibMpcTest/bin
/src/LibMpcTest/obj
/src/LibMpcTest/LibMpcTest.xproj.user
/src/LibMpcTest/project.lock.json

/src/LibMpc.sln.DotSettings.user